In [1]:
import pandas as pd

# DataFrame Introduction

Um DataFrame é uma estrutura de dados bidimensional --> consiste em linhas e colunas.

Básicamente é uma tabela.

Porque precisamos de dois pontos de referência para encontrar valores (linhas e colunas), dizemos que é um dataset com uma estrutura de dados bidimensional --> requer dois pontos de referência.

In [3]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Sempre que uma coluna do dataset possui um valor "NaN", e essa coluna possui valores numéricos, todos os valores dessa coluna devem ser armazenados como números de ponto flutuante ou números de ponto decimal.

A razão pela qual o pandas faz isso, é porque ele precisa suportar qualquer valor na coluna.

O dataframe possui a mesma lógica de truncamento que o objeto série em pandas (truncamento dos valores exibidos quando o dataset é muito grande ou relativamente grande).

# Methods and Attributes between Series and DataFrames Objects

In [4]:
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Séries e DataFrames podem possuir o mesmo método, porém a forma como o método opera em cada objeto pode ser diferente, porque são objetos diferentes.

A chave para aprender pandas e a chave para se destacar em programação orientada a objetos em geral é saber que tipo de objeto você está trabalhando e quais são os métodos e atributos disponíveis para aquele objeto

In [6]:
s = pd.Series([1,2,3,4,5,6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

semelhanças entre séries objects e dataframe objects

In [10]:
nba.head()
nba.head(n = 6)

nba.tail()
nba.tail(7)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [12]:
nba.index

RangeIndex(start=0, stop=458, step=1)

Ambos utilizam exatamente o mesmo objeto de índice para armazenar essa coleção de valores de índice.

In [13]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

Também armazena os valores do dataset em um objeto array da lib Numpy, porém como o DataFrame é uma estrutura de dados bidimensional, possuirá vários arrays dentro do array para armazenar os valores em ordem.

O método shape retorna a "forma" do objeto. Retorna as dimensões do conjunto de dados, e esse é o número de valores de linhas e números de colunas.

In [16]:
s.shape

(6,)

In [17]:
nba.shape

(458, 9)

In [18]:
s.dtype

dtype('int64')

In [20]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

Detalhe, o atributo "dtype" no singular retorna apenas o tipo de dados dos valores de um dataset se todos os valores forem do mesmo tipo. O atributo "dtypes" no plural retorna o tipo de dados em pandas de cada tipo de valor presente no dataset.

In [21]:
teste = pd.Series([1,2,"oi"])
teste

0     1
1     2
2    oi
dtype: object

In [23]:
teste.dtype

dtype('O')

In [25]:
teste.hasnans # informa se há ou não valores ausentes na série (atributo exclusivo para objetos de Séries)

False

In [26]:
nba.columns # indice representando o nome de cada coluna do dataframe (exclusivo de objetos DataFrame)

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [27]:
s.axes # retorna uma lista python consistindo em todos os índices.

[RangeIndex(start=0, stop=6, step=1)]

In [29]:
nba.axes # retorna os indices de linhas e colunas (identificadores rotulados).

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [30]:
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 6 entries, 0 to 5
Series name: None
Non-Null Count  Dtype
--------------  -----
6 non-null      int64
dtypes: int64(1)
memory usage: 176.0 bytes

In [32]:
nba.info() # resume a estrutura de dados, tanto para um Série, quanto para um  DataFrame.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB