In [1]:
import pandas as pd

In [11]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac["Country"] = bigmac["Country"].astype("category") 
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [12]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    category
 2   Price in US Dollars  652 non-null    float64
dtypes: category(1), datetime64[ns](1), float64(1)
memory usage: 13.5 KB

In [17]:
bigmac.dtypes

Date                   datetime64[ns]
Country                      category
Price in US Dollars           float64
dtype: object

## **Create a MultiIndex with the set_index Method**

In [20]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac["Country"] = bigmac["Country"].astype("category") 
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

### A boa prática aqui é utilizar a coluna com a menor quantidade de valores únicos nas camadas mais externas dos multi-indices, pois elas irão empacotar as camadas internas

In [27]:
bigmac.nunique()

Date                    12
Country                 58
Price in US Dollars    330
dtype: int64

In [28]:
bigmac.set_index(keys = ["Date", "Country"], inplace = True)

In [29]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [40]:
bigmac.sort_index(inplace = True) # todos os níveis são ordenados, iniciando pela camada mais externa para a mais interna.

In [41]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [42]:
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [43]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [44]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [53]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

In [38]:
bigmac.loc[('2016-01-01', 'Brazil')]

Price in US Dollars    3.35
Name: (2016-01-01 00:00:00, Brazil), dtype: float64

In [54]:
bigmac.loc[bigmac.index[0]]

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

## **Extract Index Level Values with the ```get_level_values()``` Method**

In [72]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"]).sort_index()
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [64]:
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [70]:
bigmac.index.get_level_values("Date") # retorna todos os valores da camada de indice fornecida como argumento
bigmac.index.get_level_values(0)

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [71]:
bigmac.index.get_level_values("Country")
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

## **Change Index Level Name with the ```.set_names()``` Method**

In [73]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"]).sort_index()
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [75]:
bigmac.index = bigmac.index.set_names(names = ["Day", "Location"])

In [77]:
bigmac.head(3)

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [78]:
bigmac.index.set_names(names = ["Day", "Location"], inplace = True)

In [79]:
# Como fazemos para alterar o nome de apenas uma camada de indice?

bigmac.index.set_names(names = "Date", level = 0) # apenas especificamos o "level" que gostariamos de alterar no nosso "index"

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Location'], length=652)

## **The ```.sort_index()``` Method on a MultiIndex Dataframe**

In [85]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [84]:
bigmac.index.nlevels

2

In [87]:
# podemos ordenar as camadas de indice separadamente:

bigmac.sort_index(ascending = [True, False], inplace = True)

In [91]:
bigmac.head()

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83

In [90]:
# podemos ordenar apenas uma das nossas camadas de indice:

bigmac.sort_index(level = "Country") # estamos dizendo ao pandas para ordenar apenas os valores do indice especificado em 'level' e ignorar os outros indices

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
2010-07-01 Argentina                 3.56
2011-07-01 Argentina                 4.84
2012-01-01 Argentina                 4.64
2012-07-01 Argentina                 4.16
...                                   ...
2014-01-01 Vietnam                   2.84
2014-07-01 Vietnam                   2.83
2015-01-01 Vietnam                   2.81
2015-07-01 Vietnam                   2.75
2016-01-01 Vietnam                   2.67

[652 rows x 1 columns]