# Imports

In [1]:
import pandas as pd

# Create a Series Object from a Python List

In [2]:
ice_cream = ["Chocolate", "Morango", "Baunilha", "Uva"]

pd.Series(ice_cream)

0    Chocolate
1      Morango
2     Baunilha
3          Uva
dtype: object

In [4]:
lotterry = [1, 5, 6, 7, 8]

pd.Series(lotterry)

0    1
1    5
2    6
3    7
4    8
dtype: int64

# Create a Series Object from a Dictionary

In [8]:
dic = {"Ano": 2022, "Nome": "Lucas"}

pd.Series(dic)

Ano      2022
Nome    Lucas
dtype: object

In [9]:
len(dic)

2

In [10]:
registrations = [True, False, False, True, True]

pd.Series(registrations)

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [3]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object