In [1]:
import pandas as pd

# We have a foods.csv CSV file with 3 columns: Item Number, Menu Item, Price
# You can explore the data by clicking into the foods.csv file on the left
# Import the CSV file into a pandas Series object
# The Series should have the standard pandas numeric index
# The Series values should be the string values from the "Menu Item" column
# Assign the Series object to a "foods" variable

In [3]:
df = pd.read_csv("Restaurant - Foods.csv") 
df

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49
5        6       Pasta  13.99
6        7       Steak  24.99
7        8       Salad  11.25
8        9       Donut   0.99
9       10       Drink   1.75

In [4]:
# Importando uma única coluna para um objeto Séries

In [8]:
foods = pd.read_csv("Restaurant - Foods.csv", usecols = ["Food Item"]).squeeze("columns")

In [7]:
foods

0         Sushi
1       Burrito
2          Taco
3    Quesadilla
4         Pizza
5         Pasta
6         Steak
7         Salad
8         Donut
9         Drink
Name: Food Item, dtype: object