## **Introdução ao método ```.groupby()```**

In [1]:
import pandas as pd

In [42]:
fortune = pd.read_csv("fortune1000.csv", index_col = ["Rank"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

A ideia do agrupamento é sempre agrupar uma coluna com "valores duplicados".

Não faz sentido agrupar dados por uma coluna que apenas possui valores únicos como a "Company" por exemplo. Nesse caso, faria mais sentido termos valores agrupados por "Sector", "Industry" ou "Location".

In [12]:
sectors = fortune.groupby(by = ["Sector"])
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

### O que temos aqui é apenas um objeto do tipo "DataFrameGroupBy" que está armezenado na memória, e ele só será realmente útil se utilizarmos métodos com esse objete (métodos de agregação --> operações matemáticas).

## **The .groupby() Method**

In [13]:
fortune = pd.read_csv("fortune1000.csv", index_col = ["Rank"])
sectors = fortune.groupby(by = ["Sector"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [15]:
len(fortune) # Retorna o número de linhas

1000

In [16]:
len(sectors) # Retornar o número de agrupamentos | Nesse caso, temos 21 setores exclusivos.

21

In [17]:
# E podemos provar a afirmação acima de que temos 21 setores exclusivos no nosso objeto GroupBy com o código abaixo:

fortune["Sector"].nunique()

21

In [21]:
# Um dos primeiros métodos que podemos utilizar em um objeto DataFrameGroupBy é o método 'size'
# Nesse caso, os indices representam os agrupamentos (setores) e os números representam a quantidade de linhas que temos para cada agrupamento
# A quantidade de registros deve somar 1000 --> sectors.size().sum() = 1000 registros

sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [22]:
fortune["Sector"].value_counts() # similar ao método .size()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [26]:
sectors.first() # retorna o primeiro registro para cada agrupamento

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [28]:
sectors.last() # retorna o último registro para cada agrupamento

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [32]:
sectors.groups # retorna um dicionário Python que contém como 'keys' o agrupamento e como valores uma lista de indices que se enquadram no agrupamento

{'Aerospace & Defense': [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], 'Apparel': [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], 'Business Services': [144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404, 440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694, 714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796, 801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993], 'Chemicals': [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], 'Energy': [2, 14, 30, 32, 42, 65, 90, 95, 98, 104, 115, 117, 121, 162, 163, 165, 166, 175, 178, 188, 190, 192, 193, 198, 214, 216, 217, 223, 225, 229, 243, 246, 247, 257, 272, 274, 279, 289, 319, 322, 324, 343, 348, 349, 350, 363, 364, 384, 387, 388, 394, 402, 403, 410, 425, 437, 438, 445, 458, 475, 483, 493, 507, 522, 541, 548, 556, 558, 569, 571, 579, 598, 600, 606, 633, 650, 656, 662, 679, 692, 696, 703, 703, 706, 711, 715, 732, 742, 743, 745, 754, 772, 784, 798, 802, 810, 817, 826, 843, 850, ...], 'Engineering & Construction': [155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516, 572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994], 'Financials': [4, 16, 23, 26, 27, 29, 35, 40, 43, 49, 50, 61, 69, 73, 74, 76, 78, 81, 82, 83, 85, 100, 105, 112, 114, 131, 135, 137, 152, 171, 179, 184, 205, 210, 222, 226, 227, 232, 236, 250, 252, 259, 264, 265, 271, 273, 275, 283, 298, 306, 311, 318, 326, 329, 332, 344, 347, 367, 368, 376, 382, 398, 401, 411, 421, 436, 442, 449, 453, 453, 471, 472, 472, 476, 479, 482, 486, 488, 494, 497, 499, 506, 509, 510, 520, 529, 531, 536, 540, 551, 561, 568, 573, 590, 603, 609, 611, 646, 651, 663, ...], 'Food and Drug Stores': [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], 'Food, Beverages & Tobacco': [41, 44, 62, 66, 84, 94, 106, 149, 153, 161, 176, 207, 215, 242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535, 542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795, 804, 889, 902, 954], 'Health Care': [5, 6, 12, 21, 22, 33, 39, 46, 52, 55, 63, 72, 79, 86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202, 263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420, 430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618, 629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815, 818, 845, 868, 881, 883, 935, 960, 965, 977, 978], 'Hotels, Resturants & Leisure': [109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557, 562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999], 'Household Products': [34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455, 533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950, 967, 992], 'Industrials': [11, 59, 75, 93, 97, 128, 134, 148, 211, 224, 360, 377, 396, 412, 419, 539, 544, 596, 622, 623, 630, 645, 655, 658, 666, 674, 690, 757, 782, 789, 806, 813, 823, 831, 832, 835, 841, 847, 866, 867, 873, 887, 942, 947, 964, 1000], 'Materials': [126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417, 418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620, 625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857, 885, 911, 982, 986], 'Media': [53, 96, 99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681, 705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989], 'Motor Vehicles & Parts': [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], 'Retailing': [1, 15, 28, 38, 47, 71, 89, 103, 111, 132, 136, 139, 143, 145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267, 269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379, 380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582, 592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748, 771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937, 940, 973], 'Technology': [3, 18, 20, 25, 31, 36, 51, 54, 77, 110, 113, 133, 150, 157, 158, 164, 173, 194, 219, 220, 230, 233, 284, 295, 300, 308, 313, 331, 385, 386, 400, 408, 409, 422, 451, 462, 464, 487, 491, 504, 505, 508, 513, 519, 524, 532, 543, 552, 563, 565, 584, 589, 593, 594, 612, 632, 634, 638, 649, 659, 673, 676, 678, 682, 688, 700, 725, 733, 736, 753, 760, 769, 778, 805, 830, 834, 842, 854, 864, 871, 888, 891, 893, 896, 904, 905, 906, 909, 912, 914, 919, 927, 931, 943, 944, 946, 956, 970, 971, 975, ...], 'Telecommunications': [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], 'Transportation': [48, 58, 67, 68, 80, 129, 142, 208, 239, 270, 353, 390, 395, 405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713, 740, 800, 814, 858, 884, 930, 933, 945, 972, 974], 'Wholesalers': [57, 64, 92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285, 315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477, 484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875, 991]}

In [40]:
# provando o que foi dito acima:

fortune.loc[24]

Company                     Boeing
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location               Chicago, IL
Revenue                      96114
Profits                       5176
Employees                   161400
Name: 24, dtype: object

## **Retrieve A Group with the .get_group() Method**

In [43]:
fortune = pd.read_csv("fortune1000.csv", index_col = ["Rank"])
sectors = fortune.groupby(by = ["Sector"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [45]:
sectors.get_group(name = "Energy") # retorna registros onde o "Sector" é igual ao argumento fornecido para o parâmetro "Name"

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

## **Methods on the Groupby Object and Dataframe Columns**

In [49]:
fortune = pd.read_csv("fortune1000.csv", index_col = ["Rank"])
sectors = fortune.groupby(by = ["Sector"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [53]:
# Os dois métodos abaixo irão e aplicar independente de qual for o tipo de dados que a coluna mais a esquerda estiver armazenando

sectors.max() # O método irá olhar para a coluna mais à esquerda, que nesse caso é a 'Company' e vai obter a string que tem a 'maior letra do alfabeto' para o agrupamento.
sectors.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [70]:
# Métodos que são aplicados somente a colunas numéricas

sectors.sum()
sectors.median()
sectors.mean()
sectors.std()

                                   Revenue      Profits      Employees
Sector
Aerospace & Defense           24468.237017  2026.281788   55389.486777
Apparel                        7254.770616   810.479441   21833.228179
Business Services              4102.377498  1058.517026   37717.982486
Chemicals                      9575.323185  1481.756552   15644.314440
Energy                        27362.358215  3872.846220   12949.476412
Engineering & Construction     4579.682742   229.344283   20625.225235
Financials                    27105.928018  4108.831303   49070.504370
Food and Drug Stores          48595.512604  1677.128944  129049.965843
Food, Beverages & Tobacco     15732.585231  2032.684843   46494.442039
Health Care                   35680.266614  3025.285364   40300.162385
Hotels, Resturants & Leisure   6012.189110  1554.535657  125535.275256
Household Products            14416.609895  1368.085601   22183.386913
Industrials                   22070.679715  1501.766522   55084.589340
Materials                      4698.190148   408.060832   12884.845967
Media                         11685.332576  2413.073547   36512.729298
Motor Vehicles & Parts        41174.300379  2404.801825   61835.587198
Retailing                     55751.002620  1896.931188  261173.769204
Technology                    30169.473168  5955.766651   61938.492917
Telecommunications            47551.639576  5517.519394   82347.959648
Transportation                14740.409538  2005.153081   76312.912270
Wholesalers                   11049.255712   308.448299   15273.192529

#### O ideal é que para utilizarmos métodos matemáticos em nosso objeto grouby, é que especifiquemos as colunas exatas em que queremos aplicar esses métodos.

In [65]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [68]:
sectors[["Revenue", "Profits"]].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

## **Grouping by Multiple Columns**

In [75]:
fortune = pd.read_csv("fortune1000.csv", index_col = ["Rank"])
sectors = fortune.groupby(by = ["Sector", "Industry"]) # a ordem das colunas importam como na geração de indices múltiplos
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [73]:
sectors.groups

{('Aerospace & Defense', 'Aerospace and Defense'): [24, 45, 60, 88, 118, 120, 209, 245, 282, 378, 389, 490, 560, 605, 785, 788, 836, 903, 958, 987], ('Apparel', 'Apparel'): [91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877, 882, 917], ('Business Services', 'Advertising, marketing'): [186, 355], ('Business Services', 'Diversified Outsourcing Services'): [199, 248, 485, 545, 626, 635, 714, 729, 744, 783, 803, 816, 819, 869], ('Business Services', 'Education'): [737, 820, 993], ('Business Services', 'Financial Data Services'): [204, 249, 294, 307, 392, 404, 468, 481, 492, 652, 694, 767, 776, 777, 792, 796, 801, 886, 952], ('Business Services', 'Miscellaneous'): [440, 734, 870], ('Business Services', 'Temporary Help'): [144, 467, 503, 791, 951], ('Business Services', 'Waste Management'): [221, 312, 677, 735, 939], ('Chemicals', 'Chemicals'): [56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549, 555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829, 865, 898, 934, 949], ('Energy', 'Energy'): [193, 364, 384, 402, 475, 558, 606, 633, 742, 784, 802, 810, 879, 962], ('Energy', 'Mining, Crude-Oil Production'): [90, 175, 216, 223, 225, 322, 324, 349, 388, 438, 458, 522, 598, 662, 703, 703, 706, 743, 754, 798, 826, 860, 862, 901, 955, 966, 981, 995], ('Energy', 'Miscellaneous'): [696], ('Energy', 'Oil and Gas Equipment, Services'): [117, 178, 192, 319, 410, 541, 692, 715, 772], ('Energy', 'Petroleum Refining'): [2, 14, 30, 32, 42, 98, 214, 217, 289, 394, 445, 569, 571, 732, 850, 953, 983], ('Energy', 'Pipelines'): [65, 104, 121, 198, 348, 387, 493, 656, 859, 908, 924, 948], ('Energy', 'Utilities: Gas and Electric'): [95, 115, 162, 163, 165, 166, 188, 190, 229, 243, 246, 247, 257, 272, 274, 279, 343, 350, 363, 403, 425, 437, 483, 507, 548, 556, 579, 600, 650, 679, 711, 745, 817, 843, 851, 853, 855, 921, 980, 997, 997], ('Engineering & Construction', 'Engineering, Construction'): [155, 156, 235, 314, 352, 381, 478, 501, 516, 572, 874, 892, 963, 985], ('Engineering & Construction', 'Homebuilders'): [260, 301, 433, 498, 576, 640, 719, 738, 822, 863, 929, 994], ('Financials', 'Commercial Banks'): [23, 26, 27, 29, 74, 78, 112, 131, 171, 179, 264, 273, 283, 329, 376, 453, 453, 486, 510, 520, 540, 603, 698, 765, 916, 938, 976, 996], ('Financials', 'Diversified Financials'): [16, 43, 83, 85, 184, 222, 232, 252, 298, 471, 494, 536, 712, 880, 923], ('Financials', 'Insurance: Life, Health (Mutual)'): [61, 76, 82, 100, 226, 318, 479, 844, 852, 925], ('Financials', 'Insurance: Life, Health (stock)'): [40, 50, 135, 205, 236, 265, 271, 306, 326, 367, 551, 590, 611, 701, 723, 750, 897, 926], ('Financials', 'Insurance: Property and Casualty (Mutual)'): [35, 69, 227, 398, 646, 755, 910], ('Financials', 'Insurance: Property and Casualty (Stock)'): [4, 49, 73, 81, 105, 114, 137, 152, 210, 275, 311, 332, 368, 411, 421, 442, 476, 497, 499, 506, 509, 531, 561, 728, 838, 878, 936, 959], ('Financials', 'Real estate'): [259, 436, 449, 472, 472, 488, 609, 651, 781, 828, 833, 846, 861, 920, 988], ('Financials', 'Securities'): [250, 344, 347, 382, 401, 482, 529, 568, 573, 663, 671, 680, 710, 730, 768, 839, 848, 872], ('Food and Drug Stores', 'Food and Drug Stores'): [7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849, 928], ('Food, Beverages & Tobacco', 'Beverages'): [62, 397, 413, 429, 542, 636, 702, 787, 889], ('Food, Beverages & Tobacco', 'Food Consumer Products'): [44, 94, 153, 161, 176, 207, 215, 304, 336, 337, 362, 452, 535, 567, 587, 608, 615, 686, 795, 804], ('Food, Beverages & Tobacco', 'Food Production'): [41, 66, 84, 242, 456, 460, 574, 664, 770], ('Food, Beverages & Tobacco', 'Tobacco'): [106, 149, 266, 902, 954], ('Health Care', 'Health Care: Insurance and Managed Care'): [6, 33, 46, 52, 79, 124, 172, 201, 202, 537, 749], ('Health Care', 'Health Care: Medical Facilities'): [63, 125, 140, 200, 290, 372, 430, 457, 515, 618, 693, 697, 766, 935], ('Health Care', 'Health Care: Pharmacy and Other Services'): [22, 325, 358, 447, 469, 553, 629, 746, 775, 881, 883, 960, 978], ('Health Care', 'Medical Products and Equipment'): [138, 278, 286, 287, 359, 431, 465, 661, 708, 790, 799, 818, 845, 868, 965, 977], ('Health Care', 'Pharmaceuticals'): [39, 55, 72, 86, 123, 130, 141, 168, 263, 305, 420, 527, 583, 684, 815], ('Health Care', 'Wholesalers: Health Care'): [5, 12, 21, 268, 291, 559], ('Hotels, Resturants & Leisure', 'Food Services'): [109, 146, 218, 371, 546, 557, 731, 763, 797, 915, 941, 999], ('Hotels, Resturants & Leisure', 'Hotels, Casinos, Resorts'): [195, 241, 254, 309, 444, 466, 534, 562, 585, 764, 779, 895, 918], ('Household Products', 'Home Equipment, Furnishings'): [256, 328, 338, 345, 434, 533, 601, 699, 716, 890, 932, 967], ('Household Products', 'Household and Personal Products'): [34, 151, 174, 261, 370, 441, 455, 554, 665, 856, 900, 907, 992], ('Household Products', 'Miscellaneous'): [450, 550, 950], ('Industrials', 'Construction and Farm Machinery'): [59, 97, 148, 360, 396, 658, 690, 813, 866], ('Industrials', 'Electronics, Electrical Equip.'): [75, 128, 134, 412, 419, 544, 623, 645, 666, 789, 831, 841, 887], ('Industrials', 'Industrial Machinery'): [11, 211, 224, 377, 539, 596, 622, 630, 655, 674, 757, 782, 806, 823, 832, 835, 847, 867, 873, 942, 947, 964, 1000], ('Industrials', 'Miscellaneous'): [93], ('Materials', 'Building Materials, Glass'): [480, 616, 637, 639, 641, 660, 857], ('Materials', 'Forest and Paper Products'): [373, 489, 625, 751, 793], ('Materials', 'Metals'): [126, 170, 244, 303, 356, 383, 417, 620, 667, 687, 691, 911, 982, 986], ('Materials', 'Miscellaneous'): [426], ('Materials', 'Packaging, Containers'): [127, 251, 321, 341, 375, 418, 435, 446, 514, 518, 577, 586, 617, 628, 774, 885], ('Media', 'Entertainment'): [53, 96, 99, 203, 213, 366, 406, 414, 525, 681, 705, 722, 741, 759, 762, 821, 913, 969], ('Media', 'Publishing, Printing'): [255, 327, 530, 707, 752, 968, 989], ('Motor Vehicles & Parts', 'Motor Vehicles and Parts'): [8, 9, 70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470, 588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979], ('Retailing', 'Automotive Retailing, Services'): [136, 143, 191, 267, 269, 297, 330, 346, 393, 511], ('Retailing', 'General Merchandisers'): [1, 38, 103, 111, 139, 145, 197, 228, 380, 773], ('Retailing', 'Specialty Retailers: Apparel'): [89, 177, 234, 237, 361, 500, 502, 523, 643, 644, 648, 657, 721, 807, 812, 824, 840, 876], ('Retailing', 'Specialty Retailers: Other'): [15, 28, 47, 71, 132, 180, 196, 238, 240, 258, 280, 293, 299, 302, 342, 365, 374, 379, 415, 427, 439, 495, 512, 517, 582, 592, 602, 607, 610, 621, 675, 689, 748, 771, 825, 827, 894, 899, 922, 937, 940, 973], ('Technology', 'Computer Peripherals'): [113, 194, 422, 638], ('Technology', 'Computer Software'): [25, 77, 386, 400, 524, 532, 543, 552, 563, 834, 842, 909, 919, 984], ('Technology', 'Computers, Office Equipment'): [3, 20, 409, 634, 778, 971, 975], ('Technology', 'Information Technology Services'): [31, 150, 220, 230, 233, 487, 504, 565, 673, 725, 927, 943, 946], ('Technology', 'Internet Services and Retailing'): [18, 36, 157, 284, 300, 308, 385, 513, 682, 688, 733, 736, 906, 914, 970], ('Technology', 'Network and Other Communications Equipment'): [54, 110, 313, 451, 462, 505, 519, 584, 612, 676, 700, 854, 904, 990], ('Technology', 'Scientific,Photographic and Control Equipment'): [133, 164, 589, 594, 632, 760, 864, 893, 896, 905, 912, 956], ('Technology', 'Semiconductors and Other Electronic Components'): [51, 158, 173, 219, 295, 331, 408, 464, 491, 508, 593, 649, 659, 678, 753, 769, 805, 830, 871, 888, 891, 931, 944], ('Telecommunications', 'Telecommunications'): [10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619, 786], ('Transportation', 'Airlines'): [67, 68, 80, 142, 405, 459, 709, 884, 933], ('Transportation', 'Mail, Package, and Freight Delivery'): [48, 58], ('Transportation', 'Miscellaneous'): [930], ('Transportation', 'Railroads'): [129, 239, 270, 858, 972], ('Transportation', 'Transportation Equipment'): [407, 432, 528, 578, 814], ('Transportation', 'Transportation and Logistics'): [208, 353, 390, 642, 974], ('Transportation', 'Trucking, Truck Leasing'): [395, 416, 521, 570, 672, 713, 740, 800, 945], ('Wholesalers', 'Miscellaneous'): [315], ('Wholesalers', 'Wholesalers: Diversified'): [92, 167, 183, 276, 285, 320, 323, 357, 369, 391, 423, 463, 484, 564, 581, 599, 627, 653, 727, 747, 780, 808, 837, 875, 991], ('Wholesalers', 'Wholesalers: Electronics and Office Equipment'): [64, 102, 108, 119, 212, 474, 477, 685], ('Wholesalers', 'Wholesalers: Food and Grocery'): [57, 122, 185, 317, 335, 351]}

In [74]:
sectors.size() # agora temos "agrupamentos Multi-indices"

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [76]:
sectors.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]

In [78]:
sectors["Revenue"].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [79]:
sectors["Employees"].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            48402.850000
Apparel              Apparel                                          23093.133333
Business Services    Advertising, marketing                           62050.000000
                     Diversified Outsourcing Services                 50595.000000
                     Education                                        15585.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                          18939.555556
Wholesalers          Miscellaneous                                     9200.000000
                     Wholesalers: Diversified                          9353.240000
                     Wholesalers: Electronics and Office Equipment    20832.625000
                     Wholesalers: Food and Grocery                    19317.500000
Name: Employees, Length: 79, dtype: float64