# Imports

In [4]:
import pandas as pd

# Create a Series Object from a Python List

In [2]:
ice_cream = ["Chocolate", "Morango", "Baunilha", "Uva"]

pd.Series(ice_cream)

0    Chocolate
1      Morango
2     Baunilha
3          Uva
dtype: object

In [4]:
lotterry = [1, 5, 6, 7, 8]

pd.Series(lotterry)

0    1
1    5
2    6
3    7
4    8
dtype: int64

# Create a Series Object from a Dictionary

In [8]:
dic = {"Ano": 2022, "Nome": "Lucas"}

pd.Series(dic)

Ano      2022
Nome    Lucas
dtype: object

In [9]:
len(dic)

2

In [10]:
registrations = [True, False, False, True, True]

pd.Series(registrations)

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [3]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

 -----------------------------------------------------------------------------------------------------------------

# Intro to Methods

In [2]:
prices = pd.Series([2.99, 4.45, 5.50, 6])

prices

0    2.99
1    4.45
2    5.50
3    6.00
dtype: float64

In [10]:
prices.describe().round(2)

count    4.00
mean     4.74
std      1.33
min      2.99
25%      4.08
50%      4.97
75%      5.62
max      6.00
dtype: float64

In [6]:
prices.sum()

18.94

In [8]:
prices.product().round(1)

439.1

In [12]:
prices.mean()

4.735

------------------------------------------------------------------------------------------------------------------

# Intro to Attributes

In [8]:
atributos = pd.Series(["Lindo", "Inteligente", "Brilhante"])

atributos

0          Lindo
1    Inteligente
2      Brilhante
dtype: object

In [10]:
atributos.size

3

In [9]:
atributos.is_unique

True

In [11]:
atributos.values

array(['Lindo', 'Inteligente', 'Brilhante'], dtype=object)

In [12]:
type(atributos.values)

numpy.ndarray

In [13]:
atributos.index

RangeIndex(start=0, stop=3, step=1)

----------------------------------------------------------------------------------------------------------------

# Parameters and Arguments

In [1]:
# Parametro - É o nome que damos a entrada esperada
# Argumento - Descreve o valor concreto que fornecemos a um parâmetro

# Exemplo (Video-Game --> configurações): Dificuldade - fácil, média, difícil

In [15]:
fruits = ["Maça", "Laranja", "Uva", "Pera"]
weekdays = ["Domingo", "Segunda", "Terça", "Quarta"]

pd.Series(fruits, weekdays)

Domingo       Maça
Segunda    Laranja
Terça          Uva
Quarta        Pera
dtype: object

In [16]:
# O construtor séries recebe parâmetros posicionais, ou seja, os argumentos são colocados na ordem de
# seus respectivos parâmetros;

In [17]:
pd.Series(weekdays, fruits)

Maça       Domingo
Laranja    Segunda
Uva          Terça
Pera        Quarta
dtype: object

In [18]:
# Utilizando parâmetros e argumentos --> parâmetros de palavra-chave (Keyword parameters)

In [20]:
pd.Series(data = fruits, index = weekdays)

Domingo       Maça
Segunda    Laranja
Terça          Uva
Quarta        Pera
dtype: object